<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8">
      <title>Stall HC Holm</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="/static/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  {% block body %}
  {% endblock %}
  </body>
</html>
